<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>广告后台管理系统</title>
<script type="text/javascript">
function doSubmit(str){
	document.displayListForm.action = "/Advertisement_Service/service/displayList!" + str + ".action";
	document.displayListForm.submit();
}
</script>
</head>
<body style="text-align:center">
	<form name="displayListForm" method="post">
	<br/>
	<br/>
    <h1>系统管理</h1>
	<br/>
	<br/>
	<table align="center" border="1">
    	<tr style="background:grey">
    		<td>用户注册</td>
    		<td>广告管理</td>
    		<td>用户注册</td>
    		<td>用户注册</td>
        </tr>
    	<tr align="center">
    		<td><input type="button" value="进入" onclick="doSubmit('managerRegister')"/></td>
    		<td><input type="button" value="进入" onclick="doSubmit()"/></td>
    		<td><input type="button" value="进入" onclick="doSubmit()"/></td>
    		<td><input type="button" value="进入" onclick="doSubmit()"/></td>
        </tr>
    </table>
    </form>
</body>
</html>
